#editor {
	width: 100%;
	height: calc(100% - 50px);
	background: #34352C;

	font-family: sans-serif;
	padding: 10px;
	letter-spacing: 1px;
	line-height: 1.5rem;
	font-size: 1.2rem;
	vertical-align: center;
	color: #ddd;

	outline:none;
}
