#code {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	// background: #34352C;
	background: rgba(52,53,44,0.8);

	font-family: sans-serif;
	padding: 10px;
	letter-spacing: 1px;
	line-height: 1.5rem;
	font-size: 1.2rem;
	vertical-align: center;
	color: #ddd;

	resize: none;

	outline:none;
	border-radius: 5px;
}
